@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Palette */
	--black: #272727;
	--lightgrey: #f3f3f3;
	--lightblue: #e1ecf4;
	--white: #ffffff;
	--base: #0d1026;
	--accent: #151938;
	--primary: #2098fa;

	/* Padding */
	--sectionpl: 26px;
}

* {
	font-family: Outfit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes marquee2 {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

.marquee {
	animation: marquee 30s linear infinite;
}

.marquee2 {
	animation: marquee2 30s linear infinite;
}
