@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Palette */

	/* Dark Mode Color Palette */
	--darkbg: #0d1026;
	--darkprimary: #2098fa;
	--darksecondary: #151938;
	--darktertiary: #1d2352;

	/* Light Mode Color Palette */
	--lightbg: #f3f3f3;
	--lightprimary: #0047ff;

	/* General Color Palete */
	--softblue: #e1ecf4;
	--black: #272727;
	--grey: #4e4e4e;
	--softgrey: #dfdfdf;
	--white: #ffffff;

	/* Padding X sm & md */
	--sectionpxsm: 26px;

	/* Padding X lg */
	--sectionpxlg: 56px;
}

* {
	font-family: Outfit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes marquee2 {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

.marquee {
	animation: marquee 30s linear infinite;
}

.marquee2 {
	animation: marquee2 30s linear infinite;
}
